* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Reem Kufi', sans-serif;
    background-color: #121212;
    color: #ffffff;
    overflow-x: hidden;
}

header {
    background-color: #1e1e1e;
    padding: 20px;
    position: fixed;
    width: 100%;
   
